<nav>
  <ul>
    <li>
      <a href="/">
        Home
      </a>
    </li>
    {{#each nav}}
      <li>
        <a href="/{{_id}}">
          {{name}}
        </a>
      </li>
    {{/each}}
  </ul>
</nav>